.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* width: fit-content; */
  width: 100%;
  border: 1px solid #191616;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-box h1 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.btn-2 {
  margin-top: 10px;
  background-color: black; 
  color: white; 
  border: none; 
  padding: 16px 32px; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-2:hover {
  background-color: rgb(94, 113, 131); 
}

.btn-2 svg {
  margin-right: 5px; 
}
